@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: theme('fontFamily.sans');
  background-color: #f8f9fc; /* light SaaS background */
  color: #0f172a; /* slate-900 */
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}


